.ant-drawer-section{
    background: #343743 !important;
}
.ant-drawer-section input{
    background-color: #272A30 !important;
    border: none !important;
    border-radius: 20px !important;
    padding: 11px 16px !important;
    color: white !important;
}
.ant-drawer-section label{
    color: white !important;
}
.ant-select-input{
    background-color: #272A30 !important;
    border: none !important;
    border-radius: 20px !important;
    color: white !important;
}
.ant-drawer-header-title{
    color: white !important;
}
.ant-drawer-section button.ant-btn-primary{
    background-color: #605DEC !important;
    border: none !important;
    border-radius: 20px !important;
}
.ant-btn{
    border-radius: 20px !important;
    border: none !important ;
    color: white !important;
}
.membership-table-wrapper .ant-table {
    /* Membership jadvali uchun maxsus stillar */
    margin-left: -330px; /* 200px chapga surish */
}
h3{
    color: white !important;
    margin-top: 102px;
    margin-left: 60px;
    font-size: 22px;
    line-height: 28px;
    height: 50px;
    font-weight: 700;
}
.add{
    position: relative;
    top: 94px;
    left: 734px;
    
}
.membership-table-wrapper .ant-spin-container{
    /* margin-top: 24px !important; */
    width: 650px;
    border-radius: 20px !important;
    margin-top: 164px;
}
.membership-table-wrapper .ant-table{
    border-radius: 20px !important;
}
.ant-table-pagination{
    /* display: none !important; */
    background-color: #272A30 !important;
    padding-top: 36px !important;
}
.ant-pagination-item-link{
    background-color: #272A30 !important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    color: white !important;
}
.ant-pagination-item{
    background-color: #9B74F0 !important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    color: white !important;
}
.ant-pagination-item a{
    color: white !important;
}
.membership-table {
    margin-right: 200px !important;
}
