.sle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.add1 {
    margin-left: 0;
}
.h4{
    margin-top: 26px;
}
.h4 span{
    margin-left: 10px;
    color: white;
    background-color: #369B46;
    border-radius: 20px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    margin-left: 36px;
    padding: 5px 10px;
}